@import '../common/variables';

.review-input{
  &-container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    max-width: 670px;
    width: 100%;

    hr {
      height: 1px;
      background-color: #000;
      border: none;
      width: 100%;
      margin: 0px auto;
    }
  }

  &-header {
    width: 100%;
    margin-top: $title1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-title {
      font-weight: 500;
      font-size: $headline;
      span {
        color: #ff0044;
      }
    }
  }
  &-subtitle{
    font-size: $title3;
    margin: $caption;
    margin-left: $caption;
  }
  &-star{
    margin: $caption;
    text-align: center;
    button{
      font-size: 40px;
      .xi-star{
        color: #ffd900;
      }
    }
  }
  &-content{
    width: 90%;
    margin: 0px auto;
    textarea {
      resize: none;
      width: 100%;
      min-height: 200px;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      font-size: $body;
      line-height: 1.6;
      color: #333;
      background-color: white;
      font-family: inherit;
      box-sizing: border-box;
      padding: 5px;
      
      // placeholder 스타일
      &::placeholder {
        color: $status-color3;
        font-size: $body;
      }
      
      // 포커스 상태
      &:focus {
        outline: none;
        border-color: #59a4d6;
      }
      
      // 호버 상태
      &:hover {
        border-color: #59a4d6;
      }
      
      // 스크롤바 커스텀
      &::-webkit-scrollbar {
        width: 8px;
      }
      
      &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 4px;
      } 
    }
    &-length{
      right: 0px;
    }
  }
}