@import '../common/variables';

.review-list{
  &-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $caption;
  }
  &-404{
    width: 50%;
    margin: $headline auto;
    font-family: inherit;
    text-align: center;
    font-size: $title3;
  }
}