@import '../common/variables';

.review-list {
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $caption;
    width: 100%;
    max-width: 53rem;
    margin: 0px auto;
    margin-bottom: 3rem;

    .totalReview {
      font-size: $body;
      border-bottom: 1px solid black;
    }

    hr {
      height: 1px;
      background-color: #000;
      border: none;
      width: 100%;
      margin: 0px auto;
    }

    .review-item {
      width: 100%;
    }
  }
  &-404 {
    width: 50%;
    margin: $headline auto;
    font-family: inherit;
    text-align: center;
    font-size: $title3;
  }
}
.cannotclick-like {
  display: none;
}
