@import '../common/variables';

.review-list {
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $caption;
    width: 88%;
    max-width: 600px;

    hr {
      height: 1px;
      background-color: #000;
      border: none;
      width: 100%;
      margin: 0px auto;
    }
  }
  &-404 {
    width: 50%;
    margin: $headline auto;
    font-family: inherit;
    text-align: center;
    font-size: $title3;
  }
}
