@import '../../common/variables';

.chatroom-list {
    display: flex;
    border-bottom: 1px solid #e9e9e9;
    padding: 1.2rem 0;
    font-size: $body;
    background-color: transparent;
    .chatroom-icon {
        margin-right: 2rem;
    }
    .chatroom-title {
        font-size: $title2;
        padding-bottom: .8rem;
    }
    .chatroom-capacity {
        span {
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
    &:hover {
        background-color: $bg-color;
        cursor: pointer;
    }
}