@import "../common/variables";

.chat-container {
    box-sizing: border-box;
    padding : 0 3rem;
    margin-top: 2rem;
    min-height: calc(100vh - 28rem);
    overflow-y: scroll;
    // height: calc(100vh - 28rem);
    .chat-msgloading {
        text-align: center;
        font-size: 1.4rem;
    }
}


@media (max-width: $lg) {
    .chat-container {
        min-height: 100vh;
        padding-bottom: 3rem;
    }
}
@media (max-width: $md) {
    .chat-container {
        padding : 3rem 1rem;
    }
}