@import '../common/variables';
@import '../common/utils';

.chatmember-list {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  gap: 0 1.2rem;
  .chatmember-img {
    width: 5rem;
    height: 5rem;
    position: relative;
    svg {
      position: absolute;
      bottom : 0;
      right: 0;
      width: auto;
      height: auto;
      z-index: 8;
    }
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }
  .chatmember-name {
    font-size: 1.6rem;
    width: 80%;
    @include ellipsisText;
    display: flex;
    .me {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 50%;
      background-color: #333;
      color: #fff;
      margin-right: .5rem;
    }
  }
}
