@import '../common/variables';

.chatroom {
    position: fixed;
    min-height: calc(100vh - 8rem);
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
    overflow-y: scroll;
    .inner {
        background-color: $bg-color;
        position: relative;
        min-height: calc(100vh - 8rem);
        
    }
}