@import "../common/variables";

.chat-container {
    box-sizing: border-box;
    padding : 0 3rem;
    // min-height: calc(100vh - 20.5rem);
    overflow-y: scroll;
    height: calc(100vh - 18.5rem);
    .chat-msgloading {
        text-align: center;
        font-size: 1.4rem;
    }
}


@media (max-width: $xl) {
    .chat-container {
        height: calc(100vh - 25.5rem);
    }
}
@media (max-width: $lg) {
    .chat-container {
        position: relative;
        top: 6.4rem;
    }
}
@media (max-width: $md) {
    .chat-container {
        height: calc(100vh - 10.5rem);
    }
}