@import "../common/variables";
@import "../common/utils";

.chat-header {
  position: sticky;
  background-color: #fff;
  width: 100%;
  height: 6.05rem;
  top: 0;
  z-index: 21;
  .chat-header__container {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .chat-header__column {
      width: 33%;
      &:first-child {
        width: 10%;
      }
      &:nth-child(2) {
        width: 75%;
        text-align: center;
      }
      &:last-child {
        text-align: right;
        width: 15%;
        padding-right: 2rem;
      }
      h2 {
        @include ellipsisText;
        font-size: $headline;
      }
      button {
        font-size: $headline;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $md) {
  .chat-header {
    .chat-header__container {
      padding: 1.2rem 0;
      .chat-header__column {
        h2 {
          font-size: $title3;
        }
        button {
          cursor: pointer;
        }
      }
    }
  }
}
