@import "../common/variables";

.message {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
  .message-profile {
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
    position: relative;
    svg {
      position: absolute;
      top: -1.6rem;
      left: 1rem;
      width: auto;
      height: auto;
    }
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
  }
  .message-content {
    width: 70%;
    .message-sender {
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
    }
    .message-info {
      display: flex;
      align-items: flex-end;
      position: relative;
      .message-bubble {
        background-color: #e4e4e4;
        padding: 0.8rem 1rem;
        border-radius: 1.5rem;
        border-top-left-radius: 0;
        font-size: 1.6rem;
        margin-right: 0.5rem;
        word-wrap: break-word;
        width: 100%;
      }
      .message-time {
        font-size: 1.2rem;
      }
      .chat-report {
        position: absolute;
        left: 50%;
        background-color: rgba(3,3,3, 0.3);
        padding : 1rem;
        top: 10px;
        border-radius: 1rem;
        font-size: 1.4rem;
        z-index: 1;
        ul {
          display: flex;
          flex-direction: column;
          gap : 1rem;
          li {
            cursor: pointer;
            &:hover {
              color : #fff;
            }
          }
        }
      }
    }
  }
}

.message-own {
  justify-content: flex-end;
  .message-content {
    .message-info {
      flex-direction: row-reverse;
      .message-bubble {
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 0;
        background-color: $active-color;
        margin-right: 0;
        margin-left: 0.5rem;
      }
    }
  }
}

.message-system {
  justify-content: center;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding : 1rem 0;
}
