@import './reset';
@import './utils';
@import './variables';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid $border-color;
  z-index: 999;
  background-color: #fff;
  .inner {
    display: flex;
    justify-content: center;
  }
  h1 {
    a {
      font-family: 'EF_jejudoldam';
      color: $main-color;
      font-size: $title1;
      line-height: 8rem;
    }
  }

  .nav-icon {
    display: none;
  }
}

@media (max-width: $sm) {
  .inner {
    .nav-icon {
      display: block;
      font-size: 3rem;
      position: absolute;
      left: 2%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1001;
    }
  }
}
