@import '../../common/variables';
@import '../../common/utils';

.meeting-action {
  &-container {
    box-sizing: border-box;
    margin: 2rem 2rem 100px 2rem;
    padding: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    background-color: #fff;
  }
}
