@import './common/reset';
@import './common/variables';
@import './common/utils';

.meeting-container {
  display: flex;
  justify-content: space-between;
  background-color: #e7f4f4;
  border-radius: 1rem;

  .meetingInfo-container {
    .meetingInfo {
      display: flex;
    }
  }
}
