@import './common/reset';
@import './common/variables';
@import './common/utils';

.place-container {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 20rem;

  &:hover{
    opacity: 0.6;
    cursor: pointer;
  }

  .place-image {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 80%;
    border-radius: 0.5rem;

    .place-category {
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      background-color: white;
      border-radius: 1rem;
      font-size: 1.3rem;
      padding: 0 0.3rem;
    }
  }
  .place-content {
    padding: 0.8rem 0.8rem;
    .title {
      font-size: $title3;
    }
    .rating {
      font-size: 1.3rem;
    }
    .price-type {
      font-size: 1.2rem;
      margin-top: 0.2rem;
    }
  }
}
