@import '../common/variables';

.place-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .place-detail-info {
    padding: 1rem 0;
    width: 100%;
    max-width: 600px;
  }
}
