@import "../common/variables";
body {
  min-height: 100vh;
}

.chatlist {
  padding: 0 1.6rem;
  position: fixed;
  top: 8rem;
  width: $lg;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
  overflow-x: hidden;
  height: 100%;
  .empty-room {
    width: 100px;
    margin: auto;
  }
  .chatlist-wrapper {
    display: flex;
    height: 100%;
    > section {
      width: 50%;
      position: relative;
      overflow-y: scroll;
      height: calc(100vh - 6rem);

      overflow-x: hidden;
    }
    .chatroom-wrapper {
      border-right: 1px solid $border-color;
      h2 {
        font-size: $headline;
        padding: 2rem 0;
      }
    }
  }
}

@media (max-width: $xl) {
  .chatlist {
    .chatlist-wrapper {
      > section {
        width: 50%;
        position: relative;
        overflow-y: scroll;
        height: calc(100vh - 14.5rem);

        overflow-x: hidden;
      }
    }
  }
}

@media (max-width: $lg) {
  .chatlist {
    padding: 0 1rem;
    width: 100%;
  }
}

@media (max-width: $md) {
  .chatlist {
    height: calc(100vh - 16rem);
    width: 200vw;
    top: 8rem;
    left: 0;
    transition: left 0.3s;
    &.empty {
      width: 100%;
    }
    &.selected {
      left: -100%;
      top: 0;
      height: 100vh;
      z-index: 1001;
    }
    .chatlist-wrapper {
      width: 100%;
      height: 100%;
      > section {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
          height: 100vh;
        }
      }
      .chatroom-wrapper {
        height: 100%;
      }
      h2 {
        padding: 1rem 0;
        font-size: 1.6rem;
      }
      ul {
        user-select: none;
      }
    }
  }
}
