@import "../common/variables";

.chatlist {
  position: relative;
  padding: 0 1.6rem;
  top: 2rem;
  .chatlist-wrapper {
    display: flex;

    > section {
      width: 50%;
      position: relative;
      overflow-y: auto;
      max-height: calc(100vh - 16rem);
    }
    .chatroom-wrapper {
      border-right: 1px solid $border-color;
      h2 {
        font-size: $headline;
        padding: 2rem 0;
      }
    }
  }
}

@media (max-width: $lg) {
  .chatlist {
    .chatlist-wrapper {
      > section {
        &:first-child {
          width: 30%;
        }
        &:last-child {
          width: 70%;
        }
      }
    }
  }
}
