@import "../common/variables";

.chatlist {
  padding: 0 1.6rem;
  position: fixed;
  top: 8rem;
  width: $lg;
  margin: auto;
  .empty-room {
    width: 100px;
    margin: auto;
  }
  .chatlist-wrapper {
    display: flex;
    height: 100%;
    > section {
      width: 50%;
      position: relative;
      overflow-y: auto;
      height: calc(100vh - 16rem);
      overflow-x: hidden;
    }
    .chatroom-wrapper {
      border-right: 1px solid $border-color;
      h2 {
        font-size: $headline;
        padding: 2rem 0;
      }
    }
  }
}

@media (max-width: $lg) {
  .chatlist {
    padding: 0;
    width: 100%;
    .chatlist-wrapper {
      > section {
        &:first-child {
          width: 30%;
        }
        &:last-child {
          width: 70%;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .chatlist {
    height: 100vh;
    top: 8rem;
    z-index: 1001;
    .chatlist-wrapper {
      width: 100%;
      height: 100%;
      display: block;
      // flex-direction: column;
      > section {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }
      .chatroom-wrapper {
        height: 100%;
      }      
      h2 {
        padding : 1rem 0;
        font-size: 1.6rem;
      }
      ul {
        user-select: none;
      }
    }
  }
}
