@import "../common/variables";
@import "../common/utils";

// .chatroom-list {
//   display: flex;
//   border-bottom: 1px solid #e9e9e9;
//   padding: 1.2rem 0;
//   font-size: $body;
//   background-color: transparent;
//   .chatroom-icon {
//     margin-right: 2rem;
//     width: 7rem;
//     height: 7rem;
//     svg {
//       width: 100%;
//       height: auto;
//     }
//   }
//   .chatroom-info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     width: 75%;
//     @include ellipsisText;
//     .chatroom-bx {
//       display: flex;
//       align-items: center;
//       gap: 0 1rem;
//       .chatroom-title {
//         font-size: $title2;
//         padding-bottom: 0.8rem;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         @include ellipsisText;
//         svg {
//           width: auto;
//           height: auto;
//         }
//       }
//       .chatroom-capacity {
//         display: flex;
//         color: #888;
//         font-size: 1.2rem;

//         span {
//           display: block;
//         }
//         span {
//           &:first-child {
//             margin-right: 0.3rem;
//           }
//         }
//       }
//     }
//     .chatroom-lastmsg {
//       font-size: 1.4rem;
//       color: #555;
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       @include ellipsisText;
//       .lastmsg-info {
//         display: flex;
//         span {
//           display: block;
//         }
//         .unread-badge {
//           background-color: rgba(250, 96, 36, 0.918);
//           color : #fff;
//           width: 1.8rem;
//           height: 1.8rem;
//           line-height: 1.8rem;
//           border-radius: 50%;
//           text-align: center;
//           font-size: 1.2rem;
//           margin-right: .5rem;
//         }
//       }
//     }
//   }
//   &:hover {
//     background-color: $bg-color;
//     cursor: pointer;
//   }
// }

// @media (max-width: $lg) {
//   .chatroom-list {
//     .chatroom-icon {
//       margin-right: 0.5rem;
//       width: 6rem;
//       height: 6rem;
//     }
//     .chatroom-info {
//       .chatroom-bx {
//         gap: 0;
//         .chatroom-title {
//           font-size: $body;
//           padding-bottom: 0.4rem;
//         }
//       }
//     }
//   }
// }

// @media (max-width: $md) {
//   .chatroom-list {
//     padding: 1rem 0;
//     .chatroom-info {
//       .chatroom-bx {
//         .chatroom-title {
//           font-size: 1.4rem;
//         }
//       }
//     }
//     .chatroom-lastmsg {
//       display: none;
//     }
//   }
// }

// @media (max-width: $sm) {
//   .chatroom-list {
//     .chatroom-icon {
//       width: 4rem;
//       height: 4rem;
//     }
//     .chatroom-info {
//       .chatroom-bx {
//         .chatroom-title {
//           padding-bottom: 0.4rem;
//         }
//       }
//     }

//   }
// }

.chatroom-list {
  display: flex;
  justify-content: space-between;
  .chatlist-column {
    display: flex;
    &:first-child {
      .chatroom-icon {
        width: 7rem;
        height: 7rem;
        svg {
          width: 100%;
          height: auto;
        }
      }
      .chatroom-info {
        .chatroom-title {
          font-weight: bold;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          .roomheader-icon {
            width: 3rem;
          }
          .room-title {
            width: 20rem;
            @include ellipsisText;
          }
          .capacity {
            font-size: 1.2rem;
            color: #333;
            font-weight: normal;
          }
          svg {
            width: auto;
            height: auto;
          }
        }
        .chatroom-lastmsg {
          margin-top: 0.8rem;
          margin-left: 3rem;
          font-size: $body;
          width: 25rem;
          @include ellipsisText;
        }
      }
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 1rem;
      .unread-badge {
        background-color: tomato;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }
    }
  }
}

@media (max-width: $lg) {
  .chatroom-list {
    flex-direction: column;
    .chatroom-icon {
      display: none;
    }

    .chatlist-column {
      &:first-child {
        .chatroom-info {
          .chatroom-title {
            .room-title {
              width: 15rem;
            }
          }
          .chatroom-lastmsg {
            width: 10rem;
          }
        }
      }
      &:last-child {
        align-items: flex-start;
        flex-direction: row;
        .unread-badge {
          font-size: 1.2rem;
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 1rem;
        }
      }
    }
  }
}


@media (max-width: $md) {
  .chatroom-list {
    flex-direction: row;
    .chatlist-column {
      &:first-child {
        .chatroom-info {
          .chatroom-title {
            font-size: 1.4rem;
            height: 3rem;
            .capacity {
              width: 3.6rem;
            }
          }
          .chatroom-lastmsg {
            margin-top: 0rem;
            font-size: 1.2rem;
          }
        }
      }
      &:last-child {
        display: none;
      }
    }
  }
}