@import "../common/variables";

.nochatroom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    .nochatroom-text {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    a {
        display: block;
        background-color: $btn-color;
        color : #fff;
        font-size: 1.6rem;
        padding : 1rem 1.6rem;
        border-radius: .5rem;
    }
}