@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

.login-container {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  margin: auto;
  .logo {
    font-size: $title2;
    margin: 3rem auto 5rem;
  }
}

#login-form {
  position: relative;
  width: 100%;
  margin: auto;
  font-size: 1.8rem;
  .input-wrap {
    position: relative;
    margin: 0 auto 3rem;
    width: 70%;
    .label {
      position: absolute;
      top: 2rem;
      left: 2rem;
      // color: #7e99b6;
    }
    input {
      width: 100%;
      height: 6rem;
      padding: 2rem 2rem 0.5rem;
      box-sizing: border-box;
      background: $bg-color;
      border: none;
      &:focus {
        border: 2px solid $main-color;
      }
    }
    .shrink {
      font-size: $caption;
      top: 0.8rem;
      left: 2rem;
      color: #7e99b6;
    }
  }
  .eraser-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: gray;
    cursor: pointer;
  }

  .eye-icon {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    color: gray;
    cursor: pointer;
  }

  .login-btn {
    width: 70%;
    height: 5rem;
    font-size: 1.8rem;
    font-family: 'GmarketSansMedium';
    border-radius: 1rem;
    margin-top: 3rem;
    background-color: $btn-color;
    color: #fff;
  }
  .errmsg-box {
    position: absolute;
    text-align: left;
    font-size: 1.2rem;
    text-indent: 0.5rem;
    .err-msg {
      margin-top: 0.5rem;
      display: block;
      color: red;
    }
  }
}

.link-wrap {
  font-size: 1.6rem;
  margin: 3rem auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
  align-items: center;
  .admin-link {
    color: gray;
  }
}

@media (max-width: $sm) {
  #login-form {
    .input-wrap {
      width: 80%;
    }
    .login-btn {
      width: 80%;
    }
  }
}
