body {
  font-family: 'GmarketSansMedium';
}

main {
  min-height: 100vh;
}

.inner {
  max-width: $lg;
  margin: auto;
  box-sizing: border-box;
}

.logo {
  font-family: 'EF_jejudoldam';
  font-size: $title1;
}
