button,
body {
  font-family: 'GmarketSansMedium';
}

main {
  height: auto;
  margin-bottom: 10rem;
}

.inner {
  max-width: $lg;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

.logo {
  font-family: 'EF_jejudoldam';
  font-size: $title1;
}

.page-banner-txt {
  font-family: 'Tenada';
  font-size: 2.3rem;
  padding: 2rem 0;
}

@media (max-width: 640px) {
  .page-banner-txt {
    font-size: 2rem;
  }
}

@mixin active-button-style(
  $width,
  $bg-color,
  $text-color: #000,
  $hover-text-color: #fff
) {
  width: $width;
  margin: auto;
  font-size: 1.6rem;
  border: 1px solid $bg-color;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  background: transparent;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $bg-color;
    transition: left 0.3s;
    z-index: 0;
  }
  &:hover span {
    color: $hover-text-color;
  }
  &:hover::before {
    left: 0;
  }
  span {
    position: relative;
    z-index: 1;
    color: $text-color;
  }
}

@mixin ellipsisText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
