@import '../common/reset';
@import '../common/variables';
@import '../common/utils';

.common-btn{
  width: 100%;
  background-color: $main-color;
  margin: 2rem auto;
  height: $title1+$title1 ;
  border-radius: 5px;
  font-size: $title3;
  color: #ffffff;
}