@import '../common/variables';

.faker-btn {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: $main-color;
  margin: 3rem auto 1rem;
  border-radius: 5px;
  font-size: $body;
  color: #ffffff;
  min-height: $title1 + $title1;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media (max-width: 520px) {
  .faker-btn {
    width: 90%;
  }
}
