@import './variables';

.wait-list{
  &-container{
    width: 95%;
    margin: calc($caption/2) auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    hr{
      height: 1px;
    }
  }
  &-user{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    &-nickname{
      font-size: $body;
    }
    &-pfImage{
      width: calc($title1);
      height: calc($title1);
      border-radius: 50%;
      background-color: $main-color;
    }
  }
  &-btns{
    display: flex;
    flex-direction: row;
    gap: $caption;
    font-size: $body;
    &-btns{
      padding: 4px;
      width: calc(3 * $title3);
      text-align: center;
      border-radius: 4px;
    }
    &-approve{
      background-color: $main-color;
      color: #ffffff;
    }
    &-reject{
      background-color: #ff6b6b;
      color: #ffffff;
    }
  }
}