@import '../common/variables';

.meeting-container {
  display: flex;
  justify-content: space-between;
  background-color: $active-color;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  margin: 0.8rem;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .meetingInfo-container {
    margin: 1rem;
    .category {
      background-color: white;
      border-radius: 1rem;
      font-size: 1.3rem;
      padding: 0.2rem 0.5rem;
    }

    .meeting-title {
      font-size: $title3;
      margin-top: 0.5rem;
    }
    .meetingInfo {
      display: flex;
      align-items: flex-end;
      font-size: 1.3rem;
      gap: 0.5rem;
      color: #7c7c7c;
      margin: 0.5rem 0;
    }

    .meeting-writer-participants {
      color: #7c7c7c;
      display: flex;
      align-items: center;
      font-size: 1.2rem;

      .meetWriter {
        margin-right: 3rem;
      }

      .meeting-icon {
        font-size: 1.6rem;
      }

      .meetParticipants {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }

  .meetingStatus-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    .meetStatus {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $caption;
      padding: 0.5rem;
      border-radius: 50%;
      width: 5.5rem;
      height: 5.5rem;

      &.recruiting {
        background-color: #ffdd77;
      }

      &.closed {
        background-color: #edb4d8;
      }

      &.ended {
        background-color: #b5b5b5;
      }
    }
  }
}
