@import './reset';
@import './variables';
@import './utils';

.navigation {
  position: fixed;
  right: 5%;
  bottom: 23%;
  border: 1px solid $main-color;
  border-radius: 2rem;
  padding: 1rem;
  z-index: 9;
  background-color: #fff;
}
.nav-lists {
  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    .chat-badge {
      position: absolute;
      display: block;
      background-color: red;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      top: 0;
      right: 0;
    }
  }
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.4rem;
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 67.34px;
    .nav-icon {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: $xl) {
  .navigation {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0 1rem 0;
    background-color: #fff;
    border: 1px solid $border-color2;
    border-radius: 0;
    z-index: 1000;
  }
  .nav-lists {
    flex-direction: row !important;
    justify-content: space-evenly;
    gap: 0;
    font-size: $caption;
  }
}
