@import '../common/variables';

.place-section {
  width: 100%;
  margin: 0 auto;
  
  .place-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    .place-image {
      position: relative;
      width: 95%;
      height: 50%;
      border: 0.2rem solid $border-color;
      border-radius: 0.5rem;

      .place-icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .place-category {
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        background-color: $active-color;
        border-radius: 1rem;
        font-size: 1.3rem;
        padding: 0 0.5rem;
      }
    }
    .place-content {
      padding: 0.8rem 0.8rem;
      .title {
        font-size: 1.5rem;
      }
      .rating {
        font-size: 1.3rem;
      }
      .price-type {
        font-size: 1.2rem;
        margin-top: 0.2rem;
      }
    }
  }
}
