@import './reset';
@import './variables';
@import './utils';

.up-btn {
  position: fixed;
  z-index: 10002;
  right: 4rem;
  bottom: 12%;
  padding: 1rem;
  font-family: 'GmarketSansMedium';
  cursor: pointer;
  .up-icon {
    font-size: 3rem;
  }
}

@media (max-width: $xl) {
  .up-btn {
    right: 0;
    bottom: 7rem;
    font-family: 'GmarketSansMedium';
    cursor: pointer;
  }
}

@media (max-width: $md) {
  .up-btn {
    cursor: pointer;
    &.hidden {
      display: none;
    }
  }
}
