@import '../common/variables';
@import '../common/utils';

.my-info {
  margin-top: 2rem;
  margin-bottom: 10rem;
  .profile {
    background: $bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    padding: 1.5rem 0;

    // ChangeProfileImg 컴포넌트
    #profileImgForm {
      position: relative;
      figure {
        width: 15rem;
        height: 15rem;
        min-width: 10rem;
        border: 1px solid transparent;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        .profile-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .change-img-btn {
        font-size: 2rem;
        cursor: pointer;
        border-radius: 50%;
        background: #fff;
        padding: 0.8rem;
        border: 2px solid $border-color2;
        position: absolute;
        bottom: 0;
        right: 1rem;
        color: gray;
      }
    }
    // EditNickName 컴포넌트
    #editNicknameForm {
      position: relative;
      .nickname {
        font-weight: normal;
        display: block;
        font-size: $title3;
        margin-bottom: 1rem;
      }
      .nickname-edit-icon {
        position: absolute;
        top: 50%;
        right: -3.5rem;
        transform: translateY(-50%);
        font-size: $title2;
        color: gray;
      }
    }
    .my-info-edit {
      display: inline-block;
      text-align: center;
      font-size: $body;
      border: 1px solid transparent;
      border-radius: 2rem;
      background: #fff;
      color: rgb(72, 72, 72);
      padding: 0 1rem;
      cursor: pointer;
    }
  }
}

@media (max-width: $md) {
}
