@import '../common/variables';
@import '../common/utils';

#mypage {
  padding: 2rem 0;
  .title-wrap {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: $headline;
    }
  }
}

@media (max-width: $md) {
  #mypage {
    padding: 2rem;
  }
}
