@import '../../common/reset';
@import '../../common/variables';
@import '../../common/utils';

.join-method {
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;    
    
    hr {
      height: 1px;
      background-color: #000;
      border: none;
      width: 100%;
      margin: 0px auto;
    }
  }

  &-header {
    margin-top: $title1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-title {
      font-weight: 500;
      font-size: $headline;
      span {
        color: #ff0044;
      }
    }
  }
  

  &-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px; // 너비 제한

    .option-item {
      width: 100%;
      
      label {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        
        input[type="radio"] {
          appearance: none;
          width: 20px;
          height: 20px;
          border: 2px solid #ddd;
          border-radius: 50%;
          margin-right: 12px;
          position: relative;

          &:checked {
            border-color: #59a4d6;
            
            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #59a4d6;
            }
          }
        }

        .option-content {
          flex: 1;
          background-color: #f5f5f5;
          padding: 16px;
          border-radius: 8px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #efefef;
          }
        }

        input[type="radio"]:checked + .option-content {
          color: #efefef;
          background-color: #59a4d6;
        }

        .option-text {
          strong {
            display: block;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 4px;
          }

          p {
            font-size: 13px;
            color: #666;
            margin: 0;
          }
        }
      }
    }
  }
}