@import '../../common/variables';
@import '../../common/utils';

.meeting-create-page{
  
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  &-form{
    width: 80%;
  }
  &-notice{
    font-size: $footnote;
    color:#ff0044;
  }
}