@import '../../common/variables';

.meeting-create-page{
  
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;

  &-form{
    width: 100%;
    margin-bottom: 100px;
  }
  &-notice{
    font-size: $footnote;
    color:#ff0044;
  }
}