@import '../../common/variables';

.meeting-update-page {
  max-width: 600px;
  margin: 0 auto;
  &-notice {
    font-size: $footnote;
    color: #ff0044;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 500px;
  }
  .location,
  .Date-Time {
    margin-top: $title1;
    font-weight: 500;
    font-size: $headline;
    span {
      margin-right: 2rem;
    }
  }
}
